
/* Global nav */

header {
	position: static;
	background: rgb(0,0,0);
}

header nav {
	padding-top: 5px;
	height: 35px;
}

.container {
	max-width: 980px;
}

/* Global */

.article h1:hover {
	text-decoration: underline;
}

.article img {
  object-fit: cover;
}

.category {
	background: rgb(100,100,100);
	font-size: 15px;
	padding: 5px 9px 5px 12px;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#technology, #Technology {
	background: rgb(37,178,255);
}

#life, #Life {
	background: rgb(253,47,189);
}

#travel, #Travel {
	background: rgb(13,216,101);
}

#people, #People {
	background: rgb(255,37,37);
}

#university, #University {
	background: rgb(0,84,128);
}

#projects, #Projects {
	background: rgb(255,179,73);
}


/* Zest nav */

nav.mainMenu {
	width: 100%;
	height: 55px;
	position: fixed;
	background: rgb(255, 255, 255);
}

nav.mainMenu .container {
	padding-top: 15px;
}

nav.mainMenu a {
	float: right;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 5.5px;
	padding-left: 25px;
}

nav.mainMenu a:hover {
	text-decoration: underline;
}

nav.mainMenu a.logo {
	float:left;
	padding: 0;
}

nav.mainMenu a.logo img.jt {
	height: 15px;
	padding-top: 6px;
	padding-right: 10px;
}

nav.mainMenu a.logo:hover {
	text-decoration: none;
}

nav.mainMenu img {
	height: 25px;
}


/* Showcase main */

section.showcase {
	background: url('../img/dailyzest/showcase/articleBackground.png');
	background-position: top;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

section.showcase .container {
	padding-bottom: 25px;
}

section.showcase .story .category {
	margin-top: 320px;
	font-size: 20px;
	padding: 8px 15px;
	margin-bottom: 10px;
}

section.showcase .story h1 {
	display: inline-block;
	background: rgb(255,255,255);
	font-size: 40px;
	padding: 10px 14px;
	margin-top: 3px;
}

section.showcase .story a:hover h1{
	text-decoration: underline;
}

section.showcase .picks {
	float: right;
	margin-top: -370px;
}

section.showcase .picks h1.title {
	color: rgb(255,255,255);
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

section.showcase .picks .container{
	width: 265px;
	border-radius: 3px;
	padding: 15px;
	background: rgb(255,255,255);
}

section.showcase .picks .article {
	display: inline-block;
	width: 100%;
	height: 100px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
}

section.showcase .picks .article img {
	width: 100px;
	height: 100px;
	margin-right: 15px;
	float:left;
}

section.showcase .picks .article .category {
	font-size: 11px;
	padding: 5px 7px 5px 10px;
}

section.showcase .picks .article h1 {
	font-size: 15px;
	margin-top: 4px;
	line-height: 20px;
}

/* Showcase story description */

section.showcaseDescription .container {
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

section.showcaseDescription h2 {
	padding-top: 20px;
	font-size: 23px;
	font-weight: 300;
	line-height: 35px;
	padding-right: 340px;
	padding-bottom: 30px;
}

section.showcaseDescription h2:hover {
	text-decoration: underline;
}


/* Top articles section */

section.topArticles {
	text-align: center;
	padding: 40px 0 20px;
}

section.topArticles .article {
	width: 210px;
	padding: 0 0 35px;
	display: inline-block;
	margin-right: 20px;
	text-align: left;
	vertical-align: top;
}


section.topArticles .article:last-of-type {
	margin: 0;
}

section.topArticles .article img {
	width: 100%;
	height: 200px;
	margin-top: 6px;
	margin-bottom: 12px;
}

section.topArticles .article h1 {
	font-size: 20px;
	text-align: center;
	line-height: 26px;
}


/* Photo article section */

section.photoArticle {
	width: 100%;
	height: 430px;
	background: url('../img/dailyzest/photoArticle/sketch.png');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

section.photoArticle .category {
	margin-top: -20px;
	font-size: 16px;
	padding: 6px 11px 6px 14px;
	margin-bottom: 50px;
}

section.photoArticle h1 {
	display: inline-block;
	background: rgb(255,255,255);
	font-size: 35px;
	padding: 10px 14px;
	margin-top: 5px;
}

section.photoArticle p {
	color: rgb(255,255,255);
	width: 300px;
	font-size: 25px;
	font-weight: 300;
	margin-top: 30px;
	line-height: 35px;
}


/* Bottom article section */

section.bottomArticles {
	margin: 0 auto;
	text-align: center;
	padding-top: 50px 
}

section.bottomArticles .article {
	width: 280px;
	height: 400px;
	margin-right: 20px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

section.bottomArticles .article:last-of-type {
	margin: 0;
}

section.bottomArticles .article img {
	width: 280px;
	height: 200px;
	padding-top: 5px;
	padding-bottom: 20px;
}

section.bottomArticles .article h1 {
	font-size: 26px;
	text-align: center;
	line-height: 30px;
}


/* Connect section */

section.connect h1{
	font-weight: 600;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	margin-bottom: 15px;
	padding-bottom: 10px;
}

section.connect .fb-like.fb_iframe_widget {
	padding-bottom: 7px;
}

section.connect #twitter-widget-0 {
	display: block;
	padding-bottom: 15px;
}


/* Recent articles */

section.recentArticles {
	margin-top: 40px;
}

section.recentArticles h1{
	font-weight: 600;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	margin-bottom: 15px;
	padding-bottom: 10px;
}



