
/* 
	Blog styling
	http://jordanthom.as 
	© 2016 Jordan Thomas
*/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* Global styles */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html, body {
	font-family: 'Lato', sans-serif;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

section {
	width: 100%;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
}

.button:hover {
	cursor: pointer;
}


/* Header bar styling */

header {
	width: 100%;
	position: fixed;
}

header nav {
	width: 900px;
	padding-top: 25px;
	margin: 0 auto;
}

header img {
	float: left;
	width: 200px;
}

header .links {
	padding-top: 8px;
	float: right;
}

header .links a {
	color: rgb(255,255,255);
	font-weight: 500;
	font-size: 14px;
	margin-left: 20px;
	letter-spacing: 0.5px;
}

header .links a:hover {
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
}


/* Homepage styling */

.home section.welcome {
	padding-top: 100px;
	height: 602px;
	text-align: center;
	background-image: url('../img/pier.png');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

.home section.welcome .main {
	width: 100%;
	color: rgb(255,255,255);
}

.home section.welcome .main .container {
	width: 800px;
	height: 451px;
	margin: 0 auto;
	text-align: left;
}

.home section.welcome .main img{
	height: 450px;
	float: left;
	padding-right: 150px;
}

.home section.welcome .main h1 {
	padding-top: 150px;
	font-size: 40px;
	font-weight: 400;
}


.home section.welcome .main p {
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
	padding-top: 10px;
}


.home section.welcome .cv {
	background: rgba(255,255,255,0.6);
}

.home section.welcome .cv .container {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	text-align: left;
}


.home section.welcome .cv h1 {
	font-size: 27px;
	padding-top: 35px;
}

.home section.welcome .cv p {
	width: 500px;
	font-size: 20px;
	color: rgba(0,0,0,0.7);
	line-height: 25px;
	padding-top: 8px;
	float: left;
}

.home section.welcome .cv .button {
	float: right;
	color: rgb(255,255,255);
	font-weight: 500;
	font-size: 23px;
	background: rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.7);
}

.home section.welcome .cv .button:hover {
	background: rgba(0,0,0,0.6);
}


/* Featured projects section */

.home section.projects {
	width: 900px;
	height: 390px;
	margin: 0 auto;
	padding: 40px 0;
}

.home section.projects h1 {
	font-size: 32px;
	color: rgb(255,121,62);
}

.home section.projects h2 {
	padding: 7px 0 30px;
	line-height: 25px;
	font-size: 20px;
	color: rgb(115,115,115);
}

.home section.projects .project {
	text-align: center;
	width: 165px;
	padding: 15px 5px 10px;
	float: left;
	margin: 0 2px;
	border-radius: 3px;
}

.home section.projects .project:hover {
	background: rgba(0,0,0,0.15);
}

.home section.projects .project:first-of-type {
	margin-left: 0;
}

.home section.projects .project:last-of-type {
	margin-right: 0;
}

.home section.projects .project img{
	width: 92px;
	padding-bottom: 10px;
}

.home section.projects .project h1{
	font-size: 17px;
	color: rgb(0,0,0);
}

.home section.projects .project p {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	padding-top: 5px;
	letter-spacing: 0.2px;
	line-height: 18px;
}

.home section.projects .project .button {
	width: 130px;
	font-size: 15px;
	display: inline-block;
	padding: 7px 5px; 
	margin-top: 10px;
	color: rgb(255,255,255);
	background: rgb(255,121,62);
}

.home section.projects .project .button:hover {
	background: rgb(225,91,32);
}


/* Education section */

.home section.education {
	width: 100%;
	height: 500px;
	padding: 40px 0;
	background-image: url('../img/bedes.png');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

.home section.education .container {
	width: 900px;
	margin: 0 auto;
}

.home section.education h1 {
	font-size: 32px;
	color: rgb(228,92,120);
}

.home section.education h2 {
	padding: 7px 0 30px;
	line-height: 25px;
	font-size: 20px;
	color: rgb(115,115,115);
}

.home section.education img {
	float: left;
}

.home section.education .educard {
	width: 210px;
	height: 280px;
	background: rgb(255,255,255);
	border-radius: 6px;
	padding: 20px 10px 10px;
	float: left;
	margin: 10px;
	text-align: center;

}

.home section.education .educard:first-of-type {
	margin-left: 35px;
}

.home section.education .educard:last-of-type {
	margin-right: 0;
}

.home section.education .educard img {
	width: 100px;
	float: none;
}

.home section.education .educard h1 {
	font-weight: 500;
	font-size: 20px;
	padding-top: 10px;
	line-height: 22px;
	color: rgb(0,0,0);
}

.home section.education .educard h2 {
	color: rgb(0,0,0);
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 25px;
}

.home section.education .educard .button {
	background: rgb(228,92,120);
	color: rgb(255,255,255);
}

.home section.education .educard .button:hover {
	background: rgb(198,62,90);
	color: rgb(255,255,255);
}

.home section.education .educard:last-of-type .button {
	margin-top: 20px;
}


/* Blog section */

.home section.blog {
	width: 100%;
	height: 300px;
	padding: 40px 0;
	background-image: url('../img/shanghai.png');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

.home section.blog .container {
	width: 900px;
	margin: 0 auto;
}

.home section.blog h1 {
	font-size: 32px;
	color: rgb(0,91,180);
}

.home section.blog h2 {
	padding: 7px 0 30px;
	line-height: 25px;
	font-size: 20px;
	color: rgb(30,30,30);
}

.home section.blog .blogsquare {
	background: rgba(255,255,255,0.8);
	width: 290px;
	height: 200px;
	border-radius: 3px;
	float:left;
	margin: 0 7.5px;
	text-align: center;
}

.home section.blog .blogsquare:first-of-type {
	margin-left: 0;
}

.home section.blog .blogsquare:last-of-type {
	margin-right: 0;
}

.home section.blog .blogsquare h1 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 5px;
	color: rgb(0,0,0);
}


.home section.blog .blogsquare p {
	font-size: 17px;
	font-weight: 200;
	line-height: 19px;
}

.home section.blog .blogsquare img {
	height: 80px;
	padding: 18px 0;
}

/* Contact section */

.home section.contact {
	width: 900px;
	height: 390px;
	margin: 0 auto;
	padding: 40px 0;
}

.home section.contact h1 {
	font-size: 32px;
	color: rgb(1,190,186);
}

.home section.contact h2 {
	padding: 7px 0 30px;
	line-height: 25px;
	font-size: 20px;
	color: rgb(115,115,115);
}

.home section.contact h2 a {
	color: rgb(51,168,202);
	text-decoration: underline;
}

.home section.contact h2 a:hover {
	color: rgb(21, 138, 172);
}

.home section.contact .contactcircle {
	float: left;
	margin: 0 30px;
	text-align: center;
}

.home section.contact .contactcircle:hover {
	opacity: 0.6;
}

.home section.contact a:first-of-type .contactcircle {
	margin-left: 0;
}

.home section.contact a:last-of-type .contactcircle{
	margin-right: 0;
}

.home section.contact .contactcircle h1 {
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 0.4px;
	color: rgb(0,0,0);
	line-height: 23px;
}

.home section.contact .contactcircle img {
	width: 100px;
	padding-bottom: 15px;
}


/* Footer */

footer {
	background: rgb(233,233,233);
	border: 1px solid rgb(188,188,188);
	border-bottom: none;
	height: 160px;
}

footer .container {
	width: 900px;
	padding: 30px 0;
	margin: 0 auto;
}

footer img {
	height: 20px;
	padding-bottom: 70px;
}

footer p {
	font-size: 14px;
}

















