
/* Main */

.main {
	width: 820px;
	padding: 40px;
	margin: 30px auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.main article {
	width: 550px;
	display: inline-block;
}

.main article section.title {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(151,151,151);
	margin-bottom: 20px;
}

.main article section.title h1 {
	font-size: 35px;
	line-height: 40px;
	padding-bottom: 20px;
}

.main article section.title span {
	padding: 0 10px;
}

.main article section.title .category {
	font-size: 12px;
	padding: 4px 3px 3px 5px;
}

.main article section.story {
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.09px
}

.main article section.story p, h2 {
	padding-bottom: 20px;
}

.main article section.story h2 {
	font-weight: 600;
}


.main aside {
	float: right;
	text-align: left;
	width: 250px;
}