

/* Education pages styling */

/* Welcome section */

.education section.welcome {
	padding: 150px 0 50px;
	text-align: center;
	width: 100%;
	color: rgb(83,87,96);
}

.education section.welcome h1 {
	color: rgb(0,0,0);
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3.6px;
}

.education section.welcome p {
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1.5px;
	line-height: 32px;
	padding-top: 10px;
}


/* Intro section */

.education section.intro .container p{
	font-family: 'Calendas', serif;
	font-style: italic;
	font-size: 28px;
	letter-spacing: 0.98px;
	line-height: 45px;
	color: rgb(83,87,96);
}

/* Modules section */

.education section.modules {
	margin: 40px 0 80px;
	font-size: 0; /* Fix inline-block whitespace */
}

.education section.modules .title {
	width: 100%;
	border-top: 5px solid rgb(189,176,176);
	padding-top: 20px;
	padding-bottom: 30px;
}

.education section.modules .title .logo path{
	fill: rgb(189,176,176);
}

.education section.modules .title h1 {
	font-size: 21px;
	padding-top: 10px;
}

.education section.modules .module {
	width: 230px;
	font-size: 20px;
	border: 1px solid rgb(211,211,211);
	display: inline-block;
	margin: 0 6px 20px 0;
	vertical-align: top;
}

.education section.modules .module:last-of-type {
	margin: 0 0 20px 0;
}

.education section.modules .module h1 {
	padding: 20px 15px 8px;
	font-weight: 100;
	letter-spacing: 0.5px;
	line-height: 25px;
}

.education section.modules .module h2 {
	margin: 6px 0 17px 15px;
	float: left;
	font-size: 13px;
	font-weight: 300;
}

.education section.modules .module .grade {
	background: rgb(213, 213, 213);
	margin: 0 15px 0 75px;
}

.education section.modules .module .grade span {
	display: inline-block;
	padding: 6px 0 4px 6px;
	font-size: 13px;
	font-weight: 300;
	color: rgb(255, 255, 255);
	background: rgb(121, 160, 4);
}

.education section.modules .module img {
	height: 111px;
	width: 100%;
	object-fit: cover;
}

.education section.modules .module p {
	font-family: 'Calendas';
	font-style: italic;
	font-size: 15px;
	letter-spacing: 1.20px;
	padding: 15px;
	line-height: 22px;
	color: rgb(120,120,120);
	height: 95px;
}

.education section.modules .module .link {
	margin: 0 15px 20px;
	font-size: 18px;
	color: rgb(121, 160, 4);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(121, 160, 4);
}

.education section.modules .module .link span {
    float: right;
}

.education section.modules .module .link:hover {
	color: rgb(255, 255, 255);
	background: rgb(121, 160, 4);
	padding: 9px 10px 5px;
	margin: -9px 15px 20px;
}








