
/* 
	Homepage styling
	http://jordanthom.as 
	© 2016 Jordan Thomas
*/

/* Welcome section */

.home section.welcome {
	padding: 150px 0 80px;
	text-align: center;
	width: 100%;
	color: rgb(83,87,96);
}

.home section.welcome h1 {
	color: rgb(0,0,0);
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3.6px;
}

.home section.welcome a {
	border-bottom: 1px solid rgb(83,87,96);
	color: rgb(83,87,96);
}

.home section.welcome a:hover {
	border-bottom: 1px solid rgb(222,34,57);
	color: rgb(222,34,57);
}

.home section.welcome p {
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1.5px;
	line-height: 32px;
	padding-top: 10px;
}


/* Featured projects section */

a#projects {
	display: block;
	height: 90px;
	margin-top: -90px;
	visibility: hidden;
}

.home section.projects .container{
	width: 1026px;
	height: 726px;
	font-size: 0; /* Remove sucky inline-block whitespace */
}

.home section.projects .project {
	width: 342px;
	height: 242px;
	display: inline-block;
	text-align: center;
	vertical-align: top; /* Fix weird position when displaying .hover */
}

.home section.projects .project:last-of-type {
	margin-right: 0;
}

.home section.projects .project .icon {
	width: 100%;
	height: 100%;
}

.home section.projects .project .icon img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity 0.5s;
}

.home section.projects .project .hover {
	font-weight: 200;
	line-height: 32px;
	text-align: left;
	padding: 25px;
	font-size: 25px;
	margin-top: -241px;
	opacity: 0;
	transition: opacity 0.5s;
	position: relative;
	/* Fixes issues with overlapping .icon */
}

.home section.projects .project .hover h2 {
	height: 190px;
	font-family: "Calendas";
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 22px;
	font-size: 19px;
	letter-spacing: 0.1px;
	line-height: 27px;
}

.home section.projects .project .hover h3 {
	display: none;
}

.home section.projects .project .hover p {
	font-weight: 300;
	font-size: 16px;
	float: left;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	line-height: 27px;
	letter-spacing: 0px;
	margin: -51px 20px 0;
	padding: 3px 9px 1px;
}

.home section.projects .project .hover p:hover {
	text-decoration: underline;
}

.home section.projects .project:hover .icon img {
	opacity: 0;
}

.home section.projects .project:hover .hover {
	opacity: 1;
}



/* Specific projects */

.home section.projects .project#a {
	background: rgb(241,208,154);
	animation-delay: 0.1s;
}

.home section.projects .project#b {
	background: rgb(93,190,227);
	animation-delay: 0.2s;
}

.home section.projects .project#c {
	background: rgb(255,252,252);
	animation-delay: 0.3s;
}

.home section.projects .project#d {
	background: rgb(36,36,36);
	animation-delay: 0.4s;
}

.home section.projects .project#e {
	background: rgb(144,104,53);
	animation-delay: 0.5s;
}

.home section.projects .project#f {
	background: rgb(12,65,122);
	animation-delay: 0.6s;
}

.home section.projects .project#g {
	background: rgb(177,180,151);
	animation-delay: 0.7s;
}

.home section.projects .project#h {
	background: rgb(137,10,10);
	animation-delay: 0.8s;
}

.home section.projects .project#i {
	background: rgb(64,165,234);
	animation-delay: 0.9s;
}


/* About section */

.home section.about {
	padding-top: 60px;
	font-size: 0;  /* Fix inline-block whitespace */
}

.home section.about h1{
	font-size: 22px;
	color: rgb(86,62,57);
}

.home section.about img {
	width: 159px;
	height: 268px;
	margin: 20px 30px 70px 0;
	display: inline-block;
}

.home section.about p {
	width: 220px;
	margin-right: 45px;
	color: rgb(109,109,109);
	font-size: 17px;
	font-weight: 200;
	letter-spacing: 0.87px;
	line-height: 29px;
    vertical-align:top;
	display: none;
}

.home section.about p:last-of-type {
	margin: 0;
}

.home section.about p#mandarin{
	animation-delay: 0.1s;
}

.home section.about p#french{
	animation-delay: 0.2s;
}



/* Education section */

.home section.education {
	font-size: 0; /* Fix inline-block whitespace */
}

.home section.education .description h1 {
	color: rgb(121,160,4);
}

.home section.education .description h2 {
	border-color: rgb(121,160,4);
}

.home section.education .educard {
	width: 285px;
	height: 345px;
	margin-right: 45px;
	margin-bottom: 70px;
	vertical-align: top;
	display: none;
}

.home section.education .educard:last-of-type {
	margin-right: 0;
}

.home section.education .educard#lewes{
	animation-delay: 0.1s;
}

.home section.education .educard#bedes{
	animation-delay: 0.2s;
}

.home section.education .educard img {
	object-fit: cover;
	font-family: 'object-fit: cover'; /* Microsoft Edge */
	height: 155px;
	width: 100%;
}

.home section.education .educard h1 {
	color: rgb(0,0,0);
	font-weight: 300;
	font-size: 22px;
	padding-top: 25px;
}

.home section.education .educard h2 {
	height: 112px;
	color: rgb(0,0,0);
	font-weight: 200;
	font-size: 17px;
	line-height: 20px;
	padding-top: 5px;
}

.home section.education .educard .link {
	font-size: 18px;
	color: rgb(121,160,4);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(121,160,4);
}

.home section.education .educard .link span {
	float: right;
}

.home section.education .educard .link:hover {
	color: rgb(255, 255, 255);
	background: rgb(121, 160, 4);
	padding: 10px 10px 6px 10px;
	margin: -10px;
}


/* Contact section */

.home section.contact {
	font-size: 0; /* Fix inline-block whitespace */
}

.home section.contact .container {
	text-align: center;
}

.home section.contact .description {
	text-align: left;
}

.home section.contact .description h1 {
	color: rgb(217,157,37);
}

.home section.contact .description h2 {
	border-color: rgb(217,157,37);
}

.home section.contact .contactcircle {
	width: 100px;
	height: 200px;
	margin: 0 30px 50px;
	text-align: center;
	vertical-align: top;
	display: none;
}

.home section.contact .contactcircle img:hover {
	opacity: 0.4;
}

.home section.contact a:first-of-type .contactcircle {
	margin-left: 0;
}

.home section.contact a:last-of-type .contactcircle{
	margin-right: 0;
}

.home section.contact .contactcircle h1 {
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: rgb(0,0,0);
	line-height: 23px;
}

.home section.contact .contactcircle img {
	width: 100%;
	padding-bottom: 15px;
}
