
/* 
	Responsive site CSS
	http://jordanthom.as 
	© 2016 Jordan Thomas
*/

/* Adapt desktop menu to screen height */

@media screen and (max-height: 350px) {
	header .links #menu a {
		font-size: 20px;
		margin: 15px 0;
	}
}

@media screen and (min-height: 350px) and (max-height: 410px) {
	header .links #menu a {
		font-size: 20px;
		margin: 22px 0;
	}
}

@media screen and (min-height: 410px) and (max-height: 470px) {
	header .links #menu a {
		font-size: 27px;
		margin: 25px 0;
	}
}

@media screen and (min-height: 470px) and (max-height: 620px) {
	header .links #menu a {
		font-size: 30px;
		margin: 30px 0;
	}
}

/* Default styles */

@media screen and (max-width: 1025px) {

	html, body {
	    overflow-x: hidden; /* Put scrollbars behind fixed elements */
	}

	.topImage {
		height: 170px;
		margin-bottom: 35px;
	}

	.container {
		width: 100%;
		padding: 0 20px;
	}

	.container .description {
		padding-bottom: 25px;
	}

	.container .description h1 {
		width: 100%;
	}

	.container .description h2 {
		font-size: 15px;
		letter-spacing: 0.5px;
		line-height: 22px;
		height: auto;
		margin-top: 5px;
	}

	.container .description h2 br {
		display: none;
	}

	/* Top header bar */

	header {
		padding: 18px 0 13px 0;
		background: rgb(83,87,96)
	}

	header svg path {
		fill: rgb(255,255,255);
	}

	header .links {
		display: none;
	}
}







/* ------------------------ */
/* Homepage styling */

@media screen and (max-width: 1025px) {

	/* Hide objects not used in mobile style homepage */
	.home section.welcome {
		display: none;
	}

	.home section.projects {
		padding: 48px 0 50px 0;
	}

	.home section.projects .container {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.home section.about {
		display: none;
	}

	.home section.education {
		display: none;
	}

	.home section.contact {
		display: none;
	}

	.home footer {
		display: none;
	}

	/* Show mobile nav */
	section.mobileNav {
		display: block;
		width: 100%;
		height: 60px;
		background: rgb(37,39,42);
		position: fixed;
		bottom: 0;
		border: 0;
		z-index: 99999;
		text-align: center;
	}

	section.mobileNav a {
		width: 18.4%;
		height: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}

	section.mobileNav img {
		opacity: 0.6;
		margin-top: 15px;
	}

	section.mobileNav a.selected {
		background: rgb(0, 0, 0);
		border-bottom: 4px solid rgb(255,255,255);
	}

	section.mobileNav a.selected img {
		opacity: 1;
	}

	/* Mobile style descriptions */

	.home section.projects .project {
		display: block;
		height: auto;
		width: 100%;
	}

	.home section.projects .project .mobileInfo {
		display: block;
		text-align: left;
		padding: 10px 15px;
	}

	.home section.projects .project .mobileInfo img {
		float: left;
		width: 32px;
		margin-right: 8px;
	}

	.home section.projects .project .mobileInfo h1 {
		font-size: 17px;
		color: rgb(83,87,96);
		padding-bottom: 2px;
	}

	.home section.projects .project .mobileInfo h2 {
		font-size: 15px;
		color: rgb(170,170,170);
	}

	.home section.projects .project .icon {
		height: auto;
	}

	.home section.projects .project .icon img {
		top: 0;
		transform: none;
	}

	.home section.projects .project:hover .icon img {
		opacity: 1;
	}

	.home section.projects .project .hover {
		opacity: 1;
		margin: 0 15px 2px;
		padding: 0;
		border-bottom: 1px solid rgb(214, 214, 214);
	}

	.home section.projects .project .hover h2 {
		height: auto;
		background: none;
		color: rgb(0, 0, 0);
		font-family: "Theinhardt";
		font-size: 15px;
		line-height: 20px;
		padding: 15px 0 2px;
	}

	.home section.projects .project .hover h3 {
		display: block;
		color: rgb(166, 168, 171);
		font-family: "Theinhardt";
		font-size: 12px;
		line-height: 15px;
		padding: 0px 0 5px;
	}

	.home section.projects .project .hover p {
		color: rgb(166, 168, 171);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5.4px;
		font-weight: 200;
		font-size: 12px;

		padding: 7px 0 4px;
		margin: 10px 0 20px;
		border: 1px solid rgb(166, 168, 171);
		border-radius: 5px;
		float: none;
	}

	.home section.projects .project .hover p:hover {
		text-decoration: none;
	}

	.home section.projects .project#a,
	.home section.projects .project#b,
	.home section.projects .project#c,
	.home section.projects .project#d,
	.home section.projects .project#e,
	.home section.projects .project#f,
	.home section.projects .project#g,
	.home section.projects .project#h,
	.home section.projects .project#i {
		background: rgb(255,255,255);
	}
}







/* ------------------------ */
/* Mobile about page styling */

@media screen and (max-width: 1025px) {

	.mobileAbout section.infobox {
		width: 100%;
		padding-top: 70px;
	}

	.mobileAbout section.infobox img {
		width: 85px;
		float: left;
	}

	.mobileAbout section.infobox .stats{
		text-align: center;
		width: auto;
		overflow: hidden;
		padding-top: 2.5px;
	}

	.mobileAbout section.infobox a.number{
		width: 30%;
		height: 50px;
		font-size: 19px;
		vertical-align: top;
		display: inline-block;
		text-align: center;
	}

	.mobileAbout section.infobox a.number span {
		display: block;
		font-weight: 200;
		font-size: 13px;
		padding-top: 3px;
		color: rgb(165,167,170)
	}

	.mobileAbout section.infobox a.button {
		width: 100%;
		font-size: 16px;
		padding: 0;
	}

	.mobileAbout section.infobox a.button div {
		background: rgb(237, 238, 238);
		border-radius: 5px;
		margin: 0 5%;
		padding: 7px 0 6px;
	}

	.mobileAbout section.aboutText h1 {
		font-size: 15px;
		font-weight: 300;
		padding-top: 22px;
	}

	.mobileAbout section.aboutText h2 {
		font-size: 15px;
		font-weight: 200;
		line-height: 23px;
		padding-top: 5px;
	}

	.mobileAbout section.aboutText a {
		color: rgb(36,154,230);
	}

}







/* ------------------------ */
/* Mobile education page styling */

@media screen and (max-width: 1025px) {

	.mobileEducation section.education .topImage {
		height: 90px;
	}

	.mobileEducation section.education .container .description h1 {
		margin-top: -64px;
		font-size: 24px;
		float: none;
		color: rgb(255, 255, 255);
	}

	.mobileEducation section.education .container .description h2 {
		border: none;
		padding: 15px 0 0 0;
	}

	.mobileEducation section.education .educard {
		width: 100%;
		height: 150px;
		margin: 0;
		margin-bottom: 20px;
		border-radius: 3px;
		display: inline-block;
		border: 1px solid rgba(0, 0, 0, 0.2);
		overflow: hidden;
	}

	.mobileEducation section.education .educard:last-of-type {
		margin-bottom: 90px;
	}

	.mobileEducation section.education .educard img {
		width: 65%;
		margin-left: 35%;
	}

	.mobileEducation section.education .educard h1 {
		font-size: 16px;
		padding: 0;
		margin: -125px 0 0 25px;
		background: rgb(255, 255, 255);
	}

	.mobileEducation section.education .educard h2 {
		height: auto;
		padding-bottom: 15px;
		margin-left: 25px;
		background: rgb(255,255,255);
	}

	.mobileEducation section.education .educard .link {
		margin-left: 25px;
		display: inline-block;
	}

	.mobileEducation section.education .educard .link span {
		float: none;
		font-size: 13px;
		padding-left: 9px;
	}

	.mobileEducation section.education .educard .link:hover {
		margin: -5px 0 0 25px;
		padding: 6px 5px 3px 6px;
	}
}

@media screen and (max-width: 600px) {
	.mobileEducation section.education .educard img {
		width: 25%;
		margin-left: 75%;
	}
}

@media screen and (min-width: 600px) and (max-width: 755px) {
	.mobileEducation section.education .educard img {
		width: 55%;
		margin-left: 45%;
	}
}

@media screen and (max-width: 345px) {

	.mobileEducation section.education .educard {
		height: auto;
	}

	.mobileEducation section.education .educard h1 {
		margin: -135px 0 0 15px;
		width: 68%;
	}

	.mobileEducation section.education .educard h2 {
		margin-left: 15px;
		width: 65%;
	}

	.mobileEducation section.education .educard .link {
		margin: -1px 0 15px 15px;
		font-size: 15px;
	}

	.mobileEducation section.education .educard .link:hover {
		margin: -5px 0 15px 15px;
	}
}

@media screen and (max-width: 410px) {
	.mobileEducation section.education .educard h2 {
		font-size: 14px;
		line-height: 19px;
	}
}








/* ------------------------ */
/* Project pages styling */


@media screen and (max-width: 1025px) {

	.project section.welcome {
		padding: 75px 0 25px;
		text-align: center;
		color: rgb(83, 87, 96);
		display: block;
	}

	.project section.welcome .container {
		position: relative;
		top: 0;
		margin-top: 0;
		left: 0;
		margin-left: 0;
	}

	.project section.welcome h1 {
		color: rgb(51, 51, 51);
		font-size: 40px;
		margin-left: -3px;
		padding: 0;
		display: block;
		background: rgb(255,255,255);
	}

	.project section.welcome p {
		font-size: 18px;
		font-weight: 200;
		padding: 5px 0 0 0;
		padding-top: 5px;
		background-opacity: 0;
		margin: 0;
		display: block;
	}

	.project section.intro {
		height: 40%;
		margin-bottom: 30px;
	}

	.project .title,
	.education section.modules .title {
		border-top: 2.5px solid rgb(189, 176, 176);
		padding-bottom: 15px;
	}

	.project .title h1,
	.education section.modules .title h1 {
		font-size: 19px;
		padding-top: 9px;
	}

	.project .title svg.logo,
	.education section.modules .title svg.logo {
		width: 29px;
		height: 14px;
	}

	.project section.about p{
		width: 100%;
		margin: 0;
		display: inline;
		font-size: 15px;
		letter-spacing: 0.5px;
		line-height: 25px;
	}

	.project section.tools {
		margin-bottom: 15px;
	}

	.project section.tools .tool {
		margin: 0;
		margin-bottom: 30px;
	}

	.project section.tools .tool p {
		font-size: 14px;
		font-weight: 200;
		padding-top: 8px;
	}


}

@media screen and (min-width: 1025px) {
	.project section.welcome h1#pinpoint {
		background: rgb(241, 208, 154);
	}

	.project section.welcome h1#jam {
		background: rgb(0, 183, 232);
	}
	.project section.welcome h1#javoo {
		background: rgb(93, 190, 227);
	}

	.project section.welcome h1#lingoflow {
		background: rgb(59, 65, 72);
	}

	.project section.welcome h1#appsforgood {
		background: rgb(58, 145, 190);
	}

	.project section.welcome h1#unituhack {
		background: rgb(82, 63, 56);
	}

	.project section.welcome h1#warwickhack {
		background: rgb(69, 94, 65);
	}

	.project section.welcome h1#usika {
		background: rgb(189, 176, 176);
	}

}







/* ------------------------ */
/* Education pages styling */


@media screen and (max-width: 1025px) {
	.education section.welcome {
		padding: 100px 0 30px;
	}

	.education section.intro .container p {
		font-size: 17px;
		line-height: 28px;
	}
}
