

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* Fonts */

@font-face {
    font-family: Theinhardt;
    src: url(fonts/theinhardtthin-webfont.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Theinhardt;
    src: url(fonts/theinhardtlight-webfont.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Theinhardt;
    src: url(fonts/theinhardtreg-webfont.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Calendas;
    src: url(fonts/calendas_plus-webfont.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Calendas;
    src: url(fonts/calendas_plus_italic-webfont.ttf);
    font-weight: 300;
    font-style: italic;
}


/* Global styles */

html, body {
	font-family: 'Theinhardt', sans-serif;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
}

.button:hover {
	cursor: pointer;
}


.topImage {
	object-fit: cover;
	width: 100%;
	height: 272px;
	margin-bottom: 50px;
}

.container {
	width: 945px;
	margin: 0 auto;
}

.container .description {
	padding-bottom: 35px;
}

.container .description h1 {
	font-size: 22px;
	font-weight: 300;
	color: rgb(86,62,57);
	padding-right: 20px;
	float: left;
}

.container .description h2 {
	height: 50px;
	padding-left: 20px;
	margin-top: -3.6px;
	border-left: 2px solid rgb(86,62,57);
	display: inline-block;
	
	font-size: 17px;
	font-weight: 200;
	color: rgb(83,87,96);
	letter-spacing: 0.87px;
	line-height: 24px;
}


/* Header bar styling */

header {
	width: 100%;
	padding: 40px 0 20px 0;
	background: rgb(255,255,255);
	position: fixed;
	transition: padding 0.5s;
	z-index: 1;
}

header .logo {
	float: left;
	width: 33px;
}

header .links {
	width: 84px;
	height: 17px;
	float: right;
}

header .links:hover {
    cursor: pointer;
}

header .links:hover svg path {
    fill: red !IMPORTANT;
}

header .links #menu {
	width: 100%;
	left: 0;
	top: 80px;
	position: absolute;
	background: rgb(105,105,105);
}

header .links #menu a {
	color: rgb(255, 255, 255);
	width: 100%;
	text-align: right;
	display: block;
	font-size: 42px;
	margin: 40px 0;
}

header .links #menu a:last-of-type {
	padding-bottom: 200px;
}

header .links #menu a:hover {
	text-decoration: underline;
	font-style: italic;
}

header .links #menu a#b {
	animation-delay: 0.05s;
}

header .links #menu a#c {
	animation-delay: 0.1s;	
}

header .links #menu a#d {
	animation-delay: 0.15s;	
}

header .links #menu a#e {
	animation-delay: 0.2s;	
}

header .links #menu a#f {
	animation-delay: 0.25s;	
}


/* Footer */

footer {
	background: rgb(233,233,233);
	border-top: 1px solid rgb(188,188,188);
}

footer img {
	width: 30px;
	margin: 40px 0 70px;
}

footer p {
	font-size: 11px;
	padding-bottom: 40px;
}

















