
/** Skills page styling **/

/* Header */

header {
	background: #9B9B9B;
}

header img {
	width: 373px;
	float: right;
	margin-top: -101px;
}


/* Skillset */

section.skillset {
	width: 100%;
	padding: 40px 0;
	background: #F4F4F4;
	font-size: 0;
}

section.skillset:nth-child(even) {
	background: #FBFBFB;
}

section.skillset .icon {
	display: inline-block;
	float: left;
}

section.skillset .icon g {
	fill: black;
}

section.skillset h1 {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	padding: 5px 0 0 7.5px;
	display: inline-block;
}

section.skillset h2 {
	width: 415px;
	font-size: 20px;
	font-weight: 300;
	color: #9B9B9B;
	margin: 10px 0 30px 0;
}

section.skillset .button {
	float: right;
}

section.skillset#design .icon g { fill: #F6A623; }
section.skillset#design .button { background: #F6A623; box-shadow: 0 2px #C58722;}
section.skillset#design .button:hover { background: #C58722;}

section.skillset#development .icon g { fill: #01CEA8; }
section.skillset#development .button { background: #01CEA8; box-shadow: 0 2px #007963;}
section.skillset#development .button:hover { background: #007963;}

section.skillset#enterprise .icon g { fill: #E16C76; }
section.skillset#enterprise .button { background: #E16C76; box-shadow: 0 2px #C0565F;}
section.skillset#enterprise .button:hover { background: #C0565F;}


/* Skill */

section.skillset .skill {
	text-align: center;
	background: rgb(255,255,255);
	padding: 20px;
	display: inline-block;
	margin: 0 0 4px 4px;
}

section.skillset .skill:hover {
	background: rgb(235,235,235);
}

section.skillset .skill:hover p {
	color: rgb(0,0,0);
}

section.skillset .skill img {
	width: 70px;
	height: 70px;
}

section.skillset .skill p {
	font-size: 16px;
	color: #9B9B9B;
	margin: 10px 0 0 0;
}